<div data-role="view" data-title="SHELL ASSET INFORMATION FACTORY" data-use-native-scrolling="true" data-show = "onLoad">
   <div data-role="header">
      <div data-role="navbar" class="header-text km-widget km-navbar" style="background-color: #FBCE07;color:#db4240;height : 90px;font-weight:bold;">
         <div class="km-view-title">
            <img src="./images/shell-logo.png" class="classImage">
            <span data-role="view-title" class="classHeader">
               <h1>SHELL ASSET INFORMATION FACTORY</h1>
            </span>
         </div>
      </div>
   </div>
   <div data-role="header" class="classDrowDownDiv">
      <p class="classDropdownText"> Operated Workspace :</p>
      <input  class="classDrowdown" id="dropdownlist" />
   </div>
   <div data-role="main">
      <div class="demo-section k-content">
         <div id="tabstrip" style="height : 100%;"data-selected-index="1">
            <ul>
               <li class="k-state-active">
                  Asset Perfomance Benchmarking
               </li>
               <li>
                  Process Effectivesness
               </li>
               <li>
                  Self Service BI
               </li>
            </ul>
            <div class="demo-section k-content wide">
               <ul id="listView" data-role="listview"  data-template="template" data-init="listViewLoad" ></ul>
            </div>
            <div class="demo-section k-content wide">
               <ul id="listView1" data-role="listview"  data-template="template1" data-init="listViewLoad1"></ul>
            </div>
            <div class="demo-section k-content wide">
               <ul id="listView2" data-role="listview"  data-template="template2" data-init="listViewLoad2"></ul>
            </div>
         </div>
      </div>
   </div>
   <script type="text/x-kendo-template" id="template">
      <div class="tile imageSize"  style="background:url(#= img #);" onclick="myImage(event)" >
       <div class="caption">
          <p>#:Description#</p>
          <p id="description">#:tileDescription#</p>
        </div>
      </div>
   </script>
   <script type="text/x-kendo-template" id="template1">
      <div class="tile imageSize"  style="background:url(#= img #);" onclick="myImage(event)" >
       <div class="caption">
          <p>#:Description#</p>
          <p id="description">#:tileDescription#</p>
        </div>
      </div>
   </script>
   <script type="text/x-kendo-template" id="template2">
      <div class="tile imageSize"  style="background:url(#= img #);" onclick="myImage(event)" >
       <div class="caption">
          <p>#:Description#</p>
          <p id="description">#:tileDescription#</p>
        </div>
      </div>
   </script>
   <div data-role="view">
      <a href = "componets/mainView/loginDialog.html"></a>
   </div>
</div>